# ==========================================================
# Git
# ==========================================================

.git

# ==========================================================
# Virtual Environments
# ==========================================================

project/
venv/
.venv/
env/

# ==========================================================
# Python
# ==========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/
*.ipynb

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# Datasets / Training
# ==========================================================

Training/
dataset/
data/

# ==========================================================
# Uploaded Files
# ==========================================================

uploads/


# ==========================================================
# Build
# ==========================================================

dist/
build/

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Tests
# ==========================================================

tests/

# ==========================================================
# Logs
# ==========================================================

*.log