# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
project/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# PyCharm
.idea/

# Streamlit
.streamlit/secrets.toml

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Cache
.cache/

# PyTorch
*.pt
*.pth.tar

# Testing
test_*.py

*.pth
